*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
:root {
  --color-primary: #ff5722;
  --color-primary-light: #ff7a50;
  --color-secondary-light: #fff6f2;
  --color-secondary-dark: #ffa589;
  --color-navbar: #f8f8f8;
  --color-headings: #000;
  --color-body: #333333;
  --color-white: #fff;
  --btn-border-radius: 8px;
}
html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
}
h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: 700;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}
.btn {
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 2rem 2.5rem;
  border-radius: var(--btn-border-radius);
  font-family: vazir;
  margin: 1rem 0;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
}
.btn--primary {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}
.btn--secondary {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}
.btn--block {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
  .btn--block {
    font-size: 2rem;
  }
}
.badge {
  display: inline-block;
  padding: 0.5rem 1em;
  background-color: #fff;
  color: var(--color-primary);
  border-radius: 32px;
  border: 2px solid var(--color-primary);
  text-transform: uppercase;
}
.badge--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.list {
  list-style: none;
  font-size: 1.8rem;
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
/* .list--tick .list__item::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("/assets/images/Tick-Square.svg") no-repeat;
  padding-right: 2.5rem;
} */
.list--tick .list__item {
  background: url(/assets/images/Tick-Square.svg) no-repeat right center;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    margin-bottom: 2.5rem;
  }
}

/* PLAN */
.block-plan {
  display: grid;
  gap: 10rem 6rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  margin-top: 3rem;
}
.plan {
  max-width: 450px;
  font-size: 1.8rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px #efefef;
}
.card--secondary .card__header {
  background-color: var(--color-secondary-dark);
}
.card--primary .card__header {
  background-color: var(--color-primary-light);
}
.card__header,
.card__body {
  padding: 3rem 2.5rem;
}
.card__header {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}
.plan__introduction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.plan__price {
  font-size: 3rem;
}
.plan__billing-cycle {
  font-size: 1.4rem;
}
.plan__description {
  margin-top: 1.5rem;
  display: block;
}
.plan .btn--block {
  margin-top: 10rem;
  font-size: 1.6rem;
}

.plan:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
  .block-plan {
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 2rem 6rem;
  }
  .plan .btn--block {
    font-size: 1.8rem;
  }
  .plan--popular {
    transform: scale(1.1);
  }
  .plan--popular:hover {
    transform: scale(1.15);
  }
}

/* container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* FEATURE */
.feature {
  display: grid;
}
.feature__text {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.feature .btn {
  padding: 1.2rem 3rem;
}
.feature__image > img {
  width: 60%;
  height: auto;
}
.feature__image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .feature {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature__image {
    order: 2;
  }
  .feature_detail {
    order: 1;
  }
  .feature__image > img {
    width: 100%;
  }
}
/* CONTACT US */
.contact-us {
  display: grid;
}
.contact-us__map{
  display: none;
}
@media screen and (min-width: 1024px) {
  .contact-us {
    grid-template-areas: "address form" "map form" "icons form";
    grid-template-columns: 70fr 30fr;
  }
  .contact-us__form {
    grid-area: form;
  }
  .contact-us__map {
    display: block;
    grid-area: map;
  }
  .contact-us__address {
    grid-area: address;
  }
  .contact-us__icons {
    grid-area: icons;
  }
}
